.Dictionary form {
  text-align: center;
  margin-bottom: 30px;
}
.Dictionary input {
  font-size: 18px;
  color: var(--fourth-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
  padding: 15px;
  width: 40%;
  background-color: var(--primary-color);
  box-shadow: 0 10px 20px rgba(65, 50, 100, 0.304);
}
.Dictionary h4 {
  color: var(--third-color);
  text-align: center;
}

@media (min-width: 651px) and (max-width: 850px) {
  .Dictionary form {
    margin-bottom: 50px;
  }
}
@media (max-width: 650px) {
  .Dictionary h4 {
    font-size: 15px;
    padding-top: 0;
  }
  .Dictionary form {
    margin-bottom: 30px;
  }
  .Dictionary input {
    width: 70%;
  }
}
