:root {
  --primary-color: #e7eaf6;
  --secondary-color: #c7caef;
  --third-color: #38598b;
  --fourth-color: #113f67;
  --font: "Noto Serif Vithkuqi", serif;
}

body {
  padding: 30px;
  background-color: var(--secondary-color);
  font-family: var(--font);
}
