.Meaning h3 {
  color: var(--third-color);
  font-size: 18px;
  font-weight: 600;
}
.Meaning .definition {
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 650px) {
  .Meaning h3 {
    font-size: 15px;
  }
  .Meaning .definition {
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px !important;
    margin-bottom: 7px !important;
  }
}
