.Meaning h3 {
  color: var(--third-color);
  font-size: 20px;
}
.Meaning .definition {
  margin-bottom: 5px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 20px;
}

@media (max-width: 650px) {
  .Meaning h3 {
    font-size: 17px;
  }
  .Meaning .definition {
    font-size: 17px;
  }
}
