.Results section {
  display: block;
  margin: 0 auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.256);
  border-radius: 15px;
  width: 60%;
  margin-top: 30px;
  padding: 0px 40px;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: var(--primary-color);
}
.Results .keyword {
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 0;
}
.Results .phonetic {
  font-size: 20px;
}

@media (min-width: 650px) and (max-width: 850px) {
  .Results section {
    width: 70%;
  }
}
@media (max-width: 650px) {
  .Results section {
    width: 82%;
    padding-right: 25px;
    padding-left: 35px;
    margin-top: 20px;
  }
  .Results .keyword {
    font-size: 30px;
  }
}
