.Synonyms {
  margin-top: 20px;
  color: rgba(0, 0, 0, 0.852);
}
.Synonyms div {
  display: flex;
  margin-right: 15px;
  margin-top: 3px;
}

@media (max-width: 650px) {
  .Synonyms {
    font-size: 12px;
  }
}
